dash==3.0.4
dash-mantine-components==1.3.0
dash-leaflet==1.1.3
dash-extensions==2.0.4
dash-iconify==0.1.2
pandas
clickhouse-connect
Jinja2
plotly==6.1.1
psycopg
boto3
h3==4.2.2
pillow
sshfs
webdav4
dash-ag-grid
