CLICKHOUSE_VERSION=24.8
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_DB=lawa
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=""

POSTGRES_HOST=postgres
POSTGRES_DB=lawa
POSTGRES_USER=postgres
POSTGRES_PASSWORD=""
POSTGRES_PORT=5432

WEBDAV_ENDPOINT_URL=""
WEBDAV_USER=""
WEBDAV_PASSWORD=""
