CLICKHOUSE_VERSION=24.2
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_DB=lawa
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=clickhouse
POSTGRES_HOST=postgres
POSTGRES_DB=lawa
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
UBUNTU_VERSION=22.04
MINIO_CLIENT_VERSION=mcli_20230718210538.0.0_amd64

