---
- name: Lawa instances
  hosts: lawa_prd
  gather_facts: true
  become: true
  tasks:
    # - name: Create folders to hold data volumes
    #   ansible.builtin.file:
    #     path: "{{ item }}"
    #     state: directory
    #     mode: "0755"
    #   loop:
    #     - /data/clickhouse
    #     - /data/postgres

    - name: Install and manage docker
      ansible.builtin.import_role:
        name: docker
      tags: docker
...
