---
- name: Lawa instances
  hosts: lawa_prd
  gather_facts: true
  become: true
  vars_prompt:
    - name: "clickhouse_password"
      prompt: "Set ClickHouse password"
      private: false

    - name: "postgres_password"
      prompt: "Set Postgres password"
      private: false

  tasks:
    - name: Gather facts
      ansible.builtin.setup:
      tags: gather_facts

    # - name: Create folders to hold data volumes
    #   ansible.builtin.file:
    #     path: "{{ item }}"
    #     state: directory
    #     mode: "0755"
    #   loop:
    #     - /data/clickhouse
    #     - /data/postgres

    - name: Install and manage docker
      ansible.builtin.import_role:
        name: docker
      tags: docker
...

